/* Copyright 2020 jsfdz ~ All rights reserved. MIT license. */

/* theme settings */
:root {
  --bg-color-theme: #228be6;
  --bg-color-hover-theme: #1971c2;

  --text-color-theme: rgb(11, 175, 255);

  --color-theme: #4a4a4a;
  --inverted-color-theme: #fff;

  --bg-navbar-theme: rgb(255, 255, 255, 85%);
  --bg-theme: #f2f2f2;
  --bg-badge: #0bafff;
  --bg-overlay: rgba(255, 255, 255, 0.9);
  --progress-bg: #e5e5e5;
  --progress-width: linear-gradient(
    45deg,
    rgb(255, 255, 255, 35%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(225, 225, 225, 35%) 50%,
    rgba(225, 225, 225, 35%) 75%,
    transparent 75%,
    transparent
  );
  --title-img-bg: url('../img/dots-bg.svg');
  --map-img-bg: url('../img/map.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-theme: #00b3ad;
    --bg-color-hover-theme: #00807b;

    --text-color-theme: rgb(5, 255, 247);

    --color-theme: #fff;
    --inverted-color-theme: #4a4a4a;

    --bg-navbar-theme: rgb(17, 17, 17, 85%);
    --bg-theme: #212529;
    --bg-badge: #04ccc5;
    --bg-overlay: rgba(17, 17, 17, 0.9);
    --progress-bg: #343a40;
    --title-img-bg: url('../img/dots-bg-light.svg');
    --map-img-bg: url('../img/map-light.svg');
  }
}

/* helpers for this theme */
.cursor-pointer {
  cursor: pointer;
}

.text-bold {
  font-weight: 700;
}

.bg-theme {
  background-color: var(--bg-theme);
}

.bg-color-theme {
  background-color: var(--bg-color-theme);
}

.bg-color-hover-theme:hover {
  background-color: var(--bg-color-hover-theme);
}

.bg-color-hover-secundary-theme:hover {
  background-color: var(--bg-badge);
}

.border-theme {
  border-color: var(--bg-theme);
}

.border-color-theme {
  border-color: var(--bg-color-theme);
}

.border-hover:hover .border-color-hover-theme,
.border-color-hover-theme:hover {
  border-color: var(--color-theme);
}

.text-theme {
  color: var(--color-theme);
}

.text-light-theme,
.text-light-hover-theme:hover {
  color: #fff;
}

.text-dark-theme,
.text-dark-hover-theme:hover {
  color: #4a4a4a;
}

.inverted-text-theme {
  color: var(--inverted-color-theme);
}

.inverted-text-hover-theme:hover {
  color: var(--inverted-color-theme);
}

.text-color-theme {
  color: var(--text-color-theme);
}

a.link-text-theme {
  color: var(--text-color-theme);
}

a.link-text-hover-theme:hover,
.link-text-hover-theme:hover {
  color: var(--color-theme);
}

a.link-color-theme {
  color: var(--color-theme);
}

a.link-color-hover-theme:hover,
.link-color-hover-theme:hover {
  color: var(--text-color-theme);
}

a.link-navbar-theme {
  color: var(--bg-theme);
}

h1,
.font-courgette {
  font-family: 'Courgette', cursive;
}

a,
a:not(.link-underline-light):hover {
  text-decoration: none;
}

a[target='_blank'].link-blank:after {
  content: '↗️';
  font-size: 0.75em;
  margin-left: 0.5em;
  margin-right: 0.25em;
}

.animation-up {
  transition: all 0.3s ease;
}

.animation-up:hover {
  transform: translateY(-5px);
}

.animation-fade-down {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 250ms;
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);

    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    opacity: 1;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.madeby {
  color: #7a7a7a;
  font-size: 0.875em;
}

.madeby a[target='_blank']:after {
  content: '❤️';
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
  z-index: 2;
}

.img-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-theme);
  right: -20px;
  bottom: -20px;
  z-index: 1;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.img-container:hover:before {
  transform: translateY(-5px);
}

/* navbar */
.navbar {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  background: var(--bg-navbar-theme);
  transform: translateY(0);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 9999;
}

.title {
  position: relative;
}

section h2.title:before {
  content: '';
  background-image: var(--title-img-bg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}

/* timline */
.timeline:after {
  content: '';
  background: var(--body-background-color);
  font-family: 'Font Awesome 5 Duotone';
  font-size: 16px;
  color: var(--link-color-theme);
  position: absolute;
  left: -2px;
  top: 0;
  z-index: 1;
}

/* price */
.badge {
  color: #fff;
  background-color: var(--bg-badge);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 42px;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 400;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* contact */
.contact-info {
  background-image: var(--map-img-bg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
}

/* buttons */
.btn {
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0125),
    0 1px 1px rgba(0, 0, 0, 0.05);
  border-top-width: 0.0625rem;
  border-bottom-width: calc(0.2rem + 0.0625rem);
}

.btn:active,
.btn.active {
  border-top-width: calc(0.2rem + 0.0625rem);
  border-bottom-width: 0.0625rem;
}

.line-btn {
  position: relative;
  transition-duration: 0;
  transition-property: color background border box-shadow;
  transition-timing-function: ease-in;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-width: 0.125em;
  box-shadow: 0 0.375em 0 currentColor;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.line-btn:hover,
.line-btn.hover {
  border-color: currentColor;
}

.line-btn:active,
.line-btn.active {
  top: 6px;
  border-width: 0.125em;
  box-shadow: none;
}

/* about */
.progress-theme {
  background: var(--progress-bg);
}

.progress {
  background: rgba(0, 0, 0, 0.459);
  background: var(--progress-width);
  border-right-color: #fff;
}

.progress {
  background-size: 25px 25px;
  background-position: 0 0;
  border-right-width: 1px;
  border-right-style: solid;
  position: absolute;
}

.animation-progress {
  animation: progress 600ms linear infinite;
}

@keyframes progress {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 25px 0;
  }
}

/* works */
.work-item {
  max-height: calc(100% - 7px);
}

.work-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .overlay {
    background-color: var(--bg-overlay);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    left: 0;
    top: 0;
    transition: 0.2s ease-in-out;
  }
}
